h1 {
  color: red;
  text-align: center;
}

h2 {
  color: whitesmoke;
  text-align: center;
}

#fullpage > .section {
  .container > div {
    margin: 40px 0;
  }

  .section-heading {
    text-align: center;
    h2 {
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      border-bottom: 10px double white;
      padding-bottom: 5px;
      &::after {
        content: "ℵ";
        color: whitesmoke;
        background-color: #000000;
        position: absolute;
        padding: 0 3px;
        font-size: 0.7em;
        width: 30px;
        left: calc(50% - 15px);
        top: 33px;
      }
    }
  }
}

#fp-nav ul li a span {
  background-color: white;
}


#fullpage .section .container {
  background-color: #000000;
}
