.animated-counter {
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  
  h4 {
    display: inline-block;
    // text-align: left;
    color: whitesmoke;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      $width: 80px;
      $half_width: $width / 2;
      width: 100%;
      left: 0;
    }
  }

  counter-data {
    text-align: left;
    span {
      color: red;
      font-weight: bold;
      font-size: 6.2em;
    }
  }
}
