.time-selector {
  background-color: #564d4d57;
  border-radius: 10px;

  .play-control {
    min-height:60px;
    color: whitesmoke;
    font-size: 3em;
  }

  .plot-description {
    text-align: left;
    font-size: 1.1em;
    color: whitesmoke;
  }
}
