.side-box {
    text-align: left;
    // border: 1px solid rgba(41, 41, 41, 0.4);
    // background-color: rgba(63, 63, 63, 0.4);
    background-color: #564d4d57;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: content;
    height: 500px;
    border-radius: 10px;

    h2 {
        display: inline-block;
        // text-align: left;
        color: #DB0000;
        position: relative;
    }

    h4 {
        display: inline-block;
        // text-align: left;
        color: #DB0000;
        position: relative;
    }

    p {
        display: inline-block;
        text-align: justify;
        color: whitesmoke;
        position: relative;
        font-size: 1.1em;
    }

    .count {
        text-align: left;
        color: whitesmoke;
        font-weight: bold;
        font-size: 2em;
      }


}
